.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.custom-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-family: var(--font-font-family), inherit;
  letter-spacing: var(--font-label-letter-spc);
}

.font-lablel-m {
  font-size: var(--font-label-m-size);
  font-weight: var(--font-label-m-weight);
  line-height: var(--font-label-m-line-height);
  color: var(--color-content-on-neutral-xx-high);
}

.font-label-s {
  font-size: var(--font-label-s-size);
  font-weight: var(--font-label-s-weight);
  line-height: var(--font-label-s-line-height);
  color: var(--color-content-on-neutral-low);
}

.custom-input {
  caret-color: var(--color-surface-brand);
  outline: 2px solid transparent;
  border: 1px solid var(--color-surface-x-high);
  padding: var(--dimension-s) var(--dimension-m);
  border-radius: var(--dimension-radius-input);
  font-family: var(--font-font-family), inherit;
  font-size: var(--font-body-m-size);
  line-height: var(--font-body-m-line-height);
  transition: all 0.3s;
}

input:focus::placeholder {
  color: transparent;
}

.custom-input::placeholder {
  color: var(--color-content-on-neutral-x-low);
}

.custom-input:focus {
  border-color: var(--color-state-default-focus);
  outline: 2px solid var(--color-state-default-focus);
}

.custom-input:hover {
  border-color: var(--color-state-default-hover);
}

.custom-label-warning {
  color: var(--color-content-on-neutral-warning)
}

.custom-input-warning {
  background-color: var(--color-surface-warning-variant);
  border-color: var(--color-surface-warning);
}

.custom-input-warning:focus {
  background-color: var(--color-surface-x-low);
  border-color: var(--color-surface-warning);
  outline: 2px solid var(--color-surface-warning);
}

.custom-input-warning:hover {
  background-color: var(--color-surface-x-low);
  border-color: var(--color-surface-warning);
}

.custom-label-error {
  color: var(--color-content-on-neutral-danger)
}

.custom-input-error {
  background-color: var(--color-surface-danger-variant);
  border-color: var(--color-surface-danger);
}

.custom-input-error:focus {
  background-color: var(--color-surface-x-low);
  border-color: var(--color-surface-danger);
  outline: 2px solid var(--color-surface-danger);
}

.custom-input-error:hover {
  background-color: var(--color-surface-x-low);
  border-color: var(--color-surface-danger);
}
